<template>
	<div class="timer-list">
		<div class="timer-list__settings">

			<div class="timer-list__column">
				<div class="timer-list__row">
					<label for="default_time">Default time: </label>
					<input id="default_time" class="timer-list__reset-value" v-model="resetTime"
							v-on:keyup.enter="resetCountdown"/>
					<button class="timer-list__button timer-list__reset" v-on:click="resetCountdown">
						Reset
					</button>
				</div>
			</div>
			<div class="timer-list__column timer-list__column--center timer-list__timer-controls">

				<div class="timer-list__row">
					<button class="timer-list__button timer-list__button--margin timer-list__start" v-on:click="resumeCountdown">
						Start
					</button>
					<button class="timer-list__button timer-list__button--margin timer-list__stop" v-on:click="stopCountdown">
						Stop
					</button>
				</div>
				<button class="timer-list__button timer-list__button--margin timer-list__switch" v-on:click="cycleSelector">
					Switch!
				</button>
			</div>

			<div class="timer-list__column">
				<label for="new_name">Name: </label>
				<input id="new_name" class="timer-list__name-value" v-model="inputName"
							v-on:keyup.enter="addTimer" />
				<button class="timer-list__button timer-list__add-timer" v-on:click="addTimer">
					Add
				</button>
				<button class="timer-list__button timer-list__button--delete timer-list__sub-timer" v-on:click="removeTimer">
					Remove
				</button>
			</div>
		</div>

		<div class="timer-list__list">
			<Timer class="timer-list__timer" v-for="(timer, index) in timerList"
					:key="index" :index="index" :selector="selector" :name="timer.name"
					:milliseconds="timer.time" v-on:click.native="setSelector(index)"/>
		</div>
	</div>
</template>

<script>
	//import Vue from 'vue'
	import { EventBus } from '../event-bus.js';
	import Timer from './Timer.vue'


	export default {
		name: "TimerList",
		data: function() { return {
			timerList: [{time:60000, name: "Joueur 1"}, {time:60000, name: "Joueur 2"}],
			selector: 0,
			running: false,
			intervalId: 0,
			resetTime: 60,
			inputName: "",
		}},
		created: function () {
			EventBus.$on('up-arrow-pressed', this.resetCountdown);
			EventBus.$on('left-arrow-pressed', this.resumeCountdown);
			EventBus.$on('down-arrow-pressed', this.cycleSelector);
			EventBus.$on('right-arrow-pressed', this.stopCountdown);
		},
		beforeDestroy: function () {
			EventBus.$off('up-arrow-pressed', this.resetCountdown);
			EventBus.$off('left-arrow-pressed', this.resumeCountdown);
			EventBus.$off('down-arrow-pressed', this.cycleSelector);
			EventBus.$off('right-arrow-pressed', this.stopCountdown);
		},
		methods: {
			resumeCountdown: function () {
				if (this.timerList.length === 0)
					return;

				if (this.intervalId === 0) {
					this.intervalId = setInterval(this.timerCallback, 100);
				}

				this.running = true;
			},
			timerCallback: function () {
				if (this.running) {
					this.subOneDeciToCurrentTimer()
				}
			},
			subOneDeciToCurrentTimer: function () {
				this.timerList[this.selector].time -= 100;
				//Vue.set(this.timerList, this.selector, this.timerList[this.selector].time - 100);
			},
			stopCountdown: function () {
				this.running = false;
			},
			resetCountdown: function () {
				this.stopCountdown();
				this.timerList.forEach(
					(timer) => {
						//Vue.set(this.timerList, index, this.getResetTime())
						timer.time = this.getResetTime();
					}
				);
			},
			cycleSelector: function () {

				if (this.timerList.length === 0)
					this.selector = 0;
				this.selector = (this.selector + 1) % this.timerList.length;
			},
			setSelector: function (index) {
				this.selector = index;
			},
			addTimer: function () {
				this.timerList.push({time: this.getResetTime(), name: this.inputName});
				this.inputName = "";
			},
			removeTimer: function () {
				if (this.selector === this.timerList.length - 1) {
					this.stopCountdown();
					this.selector = 0;
				}
				this.$delete(this.timerList, this.timerList.length - 1);
			},
			getResetTime: function () {
				return parseInt(this.resetTime)*1000;
			}
		},
		components: {
			Timer
		}
	}
</script>

<style scoped>
	.timer-list {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 0 1em;
	}
	.timer-list__settings {
		display: flex;
		flex-wrap: wrap;
		grid-gap: 2em;
		background-color: #4c4c5f;
		padding: .5em;
		position: sticky;
		top: 0;
		z-index: 10;
	}
	.timer-list__column {
    flex: 1;
		align-self: center;
	}
	.timer-list__column--center {
    max-width: max-content;
	}
	.timer-list label {
		color: #fefefe;
		margin-right: .5em;
	}
	.timer-list input {
		margin: 0;
		font-size: 1em;
		color: #2c2c3c;
		border: none;
		padding: .5em 1em;
	}
	.timer-list__button {
		margin: 0;
		color: #FEFEFE;
		background-color: #2C2C3C;
		border: none;
		font-weight: bold;
		font-size: 1em;
		padding: .5em 1em;
	}
	.timer-list__button--margin {
		margin: .25em;
	}
	.timer-list__button--delete {
		background-color: #e74242;
	}
	.timer-list__reset-value {
		width: 4rem;
	}
	.timer-list__name-value {
		width: 5rem;
	}
	.timer-list__timer-controls {
		display: flex;
		flex-direction: column;
	}
	.timer-list__switch {
		flex-grow: 1;
	}

	.timer-list__list {
		padding: 2em 1em;
		margin: 0 auto;
		grid-gap: 1em 1em;
		display: flex;
		flex-wrap: wrap;
		max-width: 100%;
		justify-content: center;
	}

	@media screen and (max-width: 780px) {
		.timer-list__settings {
			flex-direction: column;
		}
		.timer-list__timer-controls {
			order: 3;
		}
	}
</style>