<template>
	<div id="app">
		<!--<img alt="Vue logo" src="./assets/logo.png">-->
		<TimerList/>

	</div>
</template>

<script>
	import TimerList from './components/TimerList.vue'
	import { EventBus } from './event-bus.js';

	export default {
		name: 'App',
		mounted: function() {
			window.addEventListener('keyup', function (event) {
				// If down arrow was pressed...
				if (event.code === "ArrowUp") {
					EventBus.$emit('up-arrow-pressed');
				} else if (event.code === "ArrowDown") {
					EventBus.$emit('down-arrow-pressed');
				} else if (event.code === "ArrowRight") {
					EventBus.$emit('right-arrow-pressed');
				} else if (event.code === "ArrowLeft") {
					EventBus.$emit('left-arrow-pressed');
				}
			});
		},
		components: {
			TimerList
		}
	}
</script>

<style>
	#app {
		min-height: 100vh;
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		display: flex;
		flex-direction: column;
		text-align: center;
		color: #2c3e50;
		background-color: #2C2C3C;
		box-sizing: border-box;
	}
</style>
